// @use './partials/_nomefile' as *

@use "../../node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar disappear*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



h5{
    margin-bottom: 0;
}

h6{
    margin-bottom: 0;
}

a,
.router-link-active.router-link-exact-active{
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "PPAgrandir";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Agrandir"), url("@/fonts/Agrandir/PPAgrandir-Regular.woff2") format("woff2"), url("@/fonts/Agrandir/PPAgrandir-Regular.woff") format("woff");
  }

html,
body{
    font: 17px/20px PPAgrandir;    
}