// @use './partials/_nomefile' as *

@use "../../node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar disappear*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h6{
    margin-bottom: 0;
}

a,
.router-link-active.router-link-exact-active{
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}
